# Gradle cache folder
.gradle
build-logic-plugin/.gradle

# Idea configuration folder
.idea

# Kotlin cache folder
.kotlin
build-logic-plugin/.kotlin

# Build directory
.build
build-logic-plugin/.build