# Gradle cache folder
.gradle
build-logic/.gradle

# Idea configuration folder
.idea

# Kotlin cache folder & files
.kotlin
build-logic/.kotlin
kotlin-playground/src/main/kotlin/com/kotlin/playground/KotlinFunGround.kt

# Build directory
.build
build-logic/.build

# Local properties
local.properties