# Gradle cache folder
.gradle
build-logic/.gradle

# Idea configuration folder
.idea

# Kotlin cache folder
.kotlin
build-logic/.kotlin

# Build directory
.build
build-logic/.build

# Local properties
local.properties